<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Videolocadora</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a routerLinkActive="selected" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Clientes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" routerLink="/clientes/novo" routerLinkActive="selected">Novo</a>
                        <a class="dropdown-item" routerLink="/clientes/buscar" routerLinkActive="selected">Buscar</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a routerLinkActive="selected" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filmes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" routerLink="/filmes/novo" routerLinkActive="selected">Novo</a>
                        <a class="dropdown-item" routerLink="/filmes/alugados" routerLinkActive="selected">Alugados</a>
                        <a class="dropdown-item" routerLink="/filmes/buscar" routerLinkActive="selected">Buscar</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </a>
                    <div class="dropdown-menu dropdown-menu-login" aria-labelledby="navbarDropdownMenuLink">
                        <input type="text" class="form-control" placeholder="Login">
                        <input type="password" class="form-control" placeholder="Senha">
                        <button type="button" class="form-control btn btn-success">Continuar</button>
                        <button type="button" class="form-control btn btn-warning" routerLink="/login/esqueci">Esqueci minha senha</button>
                        <button type="button" class="form-control btn btn-secondary" routerLink="/login/cadastro">Cadastre-se</button>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- <a routerLink="/login" routerLinkActive="selected">Login</a><br>
<a routerLink="/funcionario" routerLinkActive="selected">Funcionário</a><br>
<a routerLink="/filmes" routerLinkActive="selected">Filmes</a><br>
<a routerLink="/aluguel" routerLinkActive="selected">Aluguel</a><br> -->

<router-outlet></router-outlet>