<app-nav></app-nav>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Alugar Filmes | Cliente {{cliente.nome}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p *ngIf="possuiAluguelGratuito" class="red">Cliente possui uma alocação gratuita!</p>
            <h4 class="blue">Valor total: R$ {{_tratamentoDados.getMoeda(valorTotalAluguel)}}</h4>
            <div *ngIf="filmesSelecionados.length > 0" class="quadro-estatico">
                <p *ngFor="let filmeSelecionado of filmesSelecionados">{{filmeSelecionado.titulo}} | R$ {{_tratamentoDados.getMoeda(filmeSelecionado.valor)}} <i class="fas fa-times pointer" (click)="removeFilme(filmeSelecionado)"></i></p>
            </div>
            <button *ngIf="filmesSelecionados.length > 0" type="button" class="btn btn-danger right espacamento-esquerda" (click)="cancelarRegistroFilmes()">Cancelar</button>
            <button *ngIf="filmesSelecionados.length > 0" type="button" class="btn btn-primary right" (click)="continuar()">Continuar</button>
        </div>
    </div>
    <app-filme-exibir-para-aluguel [filmesSelecionados]="filmesSelecionados" (emitirListaFilmesSelecionados)="getFilmesSelecionados($event)"></app-filme-exibir-para-aluguel>
</div>